body{
    font-family: "Merriweather", Georgia, serif;
    margin: 15px;
    line-height: 1.75;
}

.dark-bg{
    background-color: #4B9CD3;
}

table{
    border: 1px solid;
}

td{
    padding: 7px;
}

form{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 75vw;
    margin: 0vw 12vw;
}

textarea{
    width: 80%;
    height: 100px;
    display: block;
}

.long{
    width: 75%;
}

.form-nav{
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.faux-h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.aligned-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr
}

.left-aligned{
    text-align: left;
}

.right-aligned{
    text-align: right;
}

#schedule{
    height: 600px;
}

#search-output-wrapper{
    min-height: 30px;
    max-height: 300px;
    overflow-y: scroll;
    width: max-content;
}

.inline-label{
    display: inline-block;
}

.form-section{
    margin: 10px;
}

.grayed-out{
  opacity: 0.5;
  pointer-events: none;
}

.selected{
    background-color: #5288d8;
}

.satisfied{
    background-color: #61d979;
}

.tbd {
    background-color: orange;
}